USE [master]
GO
/****** Object:  Database [well_tracker_krutov_aa]    Script Date: 13.04.2026 16:15:57 ******/
CREATE DATABASE [well_tracker_krutov_aa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'well_tracker_krutov_aa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\well_tracker_krutov_aa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'well_tracker_krutov_aa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\well_tracker_krutov_aa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [well_tracker_krutov_aa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [well_tracker_krutov_aa]
GO
/****** Object:  User [alexm]    Script Date: 13.04.2026 16:15:58 ******/
CREATE USER [alexm] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[ActivityType]    Script Date: 13.04.2026 16:15:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityType](
	[ActivityTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[DisplayName] [nvarchar](50) NOT NULL,
	[MetValue] [decimal](3, 1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ActivityTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdviceTemplate]    Script Date: 13.04.2026 16:15:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdviceTemplate](
	[TemplateID] [int] IDENTITY(1,1) NOT NULL,
	[TriggerCondition] [nvarchar](max) NOT NULL,
	[AdviceText] [nvarchar](500) NOT NULL,
	[Category] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TemplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdviceUser]    Script Date: 13.04.2026 16:15:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdviceUser](
	[AdviceUserID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TempID] [int] NOT NULL,
	[Date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdviceUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailySurvey]    Script Date: 13.04.2026 16:15:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailySurvey](
	[SurveyID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SurveyDate] [date] NOT NULL,
	[SleepHours] [decimal](3, 1) NULL,
	[SleepQuality] [int] NULL,
	[StressLevel] [int] NULL,
	[WaterGlasses] [int] NULL,
	[Headache] [bit] NULL,
	[FatigueLevel] [int] NULL,
	[EnergyLevel] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SurveyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 13.04.2026 16:15:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[GenderID] [int] IDENTITY(1,1) NOT NULL,
	[GenderCode] [char](1) NOT NULL,
	[DisplayName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GenderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoalType]    Script Date: 13.04.2026 16:15:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoalType](
	[GoalTypeID] [int] IDENTITY(1,1) NOT NULL,
	[GoalName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GoalTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MealType]    Script Date: 13.04.2026 16:15:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealType](
	[MealTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[DisplayName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MealTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipe]    Script Date: 13.04.2026 16:15:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipe](
	[RecipeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Ingredients] [nvarchar](max) NOT NULL,
	[Instructions] [nvarchar](max) NULL,
	[Servings] [int] NOT NULL,
	[CaloriesPerServing] [int] NOT NULL,
	[Protein] [decimal](5, 2) NOT NULL,
	[Fat] [decimal](5, 2) NOT NULL,
	[Carbs] [decimal](5, 2) NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RecipeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecipeCategory]    Script Date: 13.04.2026 16:15:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipeCategory](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 13.04.2026 16:15:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[GenderID] [int] NOT NULL,
	[BirthDate] [date] NOT NULL,
	[HeightCm] [decimal](5, 2) NULL,
	[WeightKg] [decimal](5, 2) NULL,
	[GoalTypeID] [int] NULL,
	[UserRoleID] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserActivityLog]    Script Date: 13.04.2026 16:15:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserActivityLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ActivityTypeID] [int] NOT NULL,
	[DurationMinutes] [int] NOT NULL,
	[CaloriesBurned] [int] NOT NULL,
	[ActivityDate] [date] NOT NULL,
	[Notes] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMealLog]    Script Date: 13.04.2026 16:15:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMealLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[MealTypeID] [int] NOT NULL,
	[RecipeID] [int] NULL,
	[CustomFoodName] [nvarchar](200) NULL,
	[Amount] [decimal](5, 2) NOT NULL,
	[Calories] [int] NOT NULL,
	[Protein] [decimal](5, 2) NOT NULL,
	[Fat] [decimal](5, 2) NOT NULL,
	[Carbs] [decimal](5, 2) NOT NULL,
	[LogDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 13.04.2026 16:15:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserRoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActivityType] ON 

INSERT [dbo].[ActivityType] ([ActivityTypeID], [TypeName], [DisplayName], [MetValue]) VALUES (1, N'walking', N'Ходьба', CAST(3.5 AS Decimal(3, 1)))
INSERT [dbo].[ActivityType] ([ActivityTypeID], [TypeName], [DisplayName], [MetValue]) VALUES (2, N'running', N'Бег', CAST(8.0 AS Decimal(3, 1)))
INSERT [dbo].[ActivityType] ([ActivityTypeID], [TypeName], [DisplayName], [MetValue]) VALUES (3, N'yoga', N'Йога', CAST(2.5 AS Decimal(3, 1)))
SET IDENTITY_INSERT [dbo].[ActivityType] OFF
GO
SET IDENTITY_INSERT [dbo].[AdviceTemplate] ON 

INSERT [dbo].[AdviceTemplate] ([TemplateID], [TriggerCondition], [AdviceText], [Category]) VALUES (1, N'AvgSleepHours < 6 for last 3 days', N'Вы спите менее 6 часов 3 дня подряд. Попробуйте ложиться на 30 минут раньше.', N'Сон')
INSERT [dbo].[AdviceTemplate] ([TemplateID], [TriggerCondition], [AdviceText], [Category]) VALUES (2, N'WaterGlasses < 8 for last 5 days', N'Вы пьёте недостаточно воды. Старайтесь выпивать минимум 8 стаканов в день.', N'Вода')
INSERT [dbo].[AdviceTemplate] ([TemplateID], [TriggerCondition], [AdviceText], [Category]) VALUES (3, N'StressLevel > 7 for last 2 days', N'Уровень стресса повышен. Рассмотрите дыхательные упражнения или короткую медитацию.', N'Стресс')
SET IDENTITY_INSERT [dbo].[AdviceTemplate] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([GenderID], [GenderCode], [DisplayName]) VALUES (1, N'M', N'Мужской')
INSERT [dbo].[Gender] ([GenderID], [GenderCode], [DisplayName]) VALUES (2, N'F', N'Женский')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[GoalType] ON 

INSERT [dbo].[GoalType] ([GoalTypeID], [GoalName], [Description]) VALUES (1, N'lose', N'Похудение')
INSERT [dbo].[GoalType] ([GoalTypeID], [GoalName], [Description]) VALUES (2, N'maintain', N'Поддержание веса')
INSERT [dbo].[GoalType] ([GoalTypeID], [GoalName], [Description]) VALUES (3, N'gain', N'Набор мышечной массы')
SET IDENTITY_INSERT [dbo].[GoalType] OFF
GO
SET IDENTITY_INSERT [dbo].[MealType] ON 

INSERT [dbo].[MealType] ([MealTypeID], [TypeName], [DisplayName]) VALUES (1, N'Breakfast', N'Завтрак')
INSERT [dbo].[MealType] ([MealTypeID], [TypeName], [DisplayName]) VALUES (2, N'Lunch', N'Обед')
INSERT [dbo].[MealType] ([MealTypeID], [TypeName], [DisplayName]) VALUES (3, N'Dinner', N'Ужин')
SET IDENTITY_INSERT [dbo].[MealType] OFF
GO
SET IDENTITY_INSERT [dbo].[Recipe] ON 

INSERT [dbo].[Recipe] ([RecipeID], [Name], [CategoryID], [Description], [Ingredients], [Instructions], [Servings], [CaloriesPerServing], [Protein], [Fat], [Carbs], [CreatedByUserID], [CreatedAt]) VALUES (1, N'Овсянка с ягодами', 13, N'Полезный и быстрый завтрак', N'Овсяные хлопья - 50г, Молоко - 200мл, Ягоды замороженные - 100г, Мёд - 1 ч.л.', N'1. Вскипятить молоко. 2. Добавить хлопья, варить 5 минут. 3. Добавить ягоды и мёд.', 1, 350, CAST(12.50 AS Decimal(5, 2)), CAST(8.00 AS Decimal(5, 2)), CAST(55.00 AS Decimal(5, 2)), 0, CAST(N'2026-04-13T10:11:59.897' AS DateTime))
INSERT [dbo].[Recipe] ([RecipeID], [Name], [CategoryID], [Description], [Ingredients], [Instructions], [Servings], [CaloriesPerServing], [Protein], [Fat], [Carbs], [CreatedByUserID], [CreatedAt]) VALUES (2, N'Куриная грудка на гриле', 6, N'Диетическое блюдо для набора мышечной массы', N'Куриное филе - 200г, Соль, Перец, Оливковое масло - 1 ст.л.', N'1. Замариновать филе в специях и масле 30 минут. 2. Обжарить на гриле по 5-7 минут с каждой стороны.', 1, 280, CAST(45.00 AS Decimal(5, 2)), CAST(8.50 AS Decimal(5, 2)), CAST(2.00 AS Decimal(5, 2)), 0, CAST(N'2026-04-13T10:11:59.897' AS DateTime))
SET IDENTITY_INSERT [dbo].[Recipe] OFF
GO
SET IDENTITY_INSERT [dbo].[RecipeCategory] ON 

INSERT [dbo].[RecipeCategory] ([CategoryID], [Name], [Description]) VALUES (1, N'Стандарт', N'Сбалансированный рацион')
INSERT [dbo].[RecipeCategory] ([CategoryID], [Name], [Description]) VALUES (2, N'Кето', N'Низкоуглеводная диета')
INSERT [dbo].[RecipeCategory] ([CategoryID], [Name], [Description]) VALUES (3, N'Веган', N'Без продуктов животного происхождения')
SET IDENTITY_INSERT [dbo].[RecipeCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Email], [PasswordHash], [FullName], [GenderID], [BirthDate], [HeightCm], [WeightKg], [GoalTypeID], [UserRoleID], [CreatedAt]) VALUES (0, N'admin@local', N'hash123', N'Администратор', 1, CAST(N'1990-01-01' AS Date), CAST(180.00 AS Decimal(5, 2)), CAST(80.00 AS Decimal(5, 2)), 2, 1, CAST(N'2025-01-01T10:00:00.000' AS DateTime))
INSERT [dbo].[User] ([UserID], [Email], [PasswordHash], [FullName], [GenderID], [BirthDate], [HeightCm], [WeightKg], [GoalTypeID], [UserRoleID], [CreatedAt]) VALUES (1, N'user1@example.com', N'hash124', N'Алексей Иванов', 1, CAST(N'1998-05-12' AS Date), CAST(178.00 AS Decimal(5, 2)), CAST(76.50 AS Decimal(5, 2)), 2, 2, CAST(N'2025-01-02T09:30:00.000' AS DateTime))
INSERT [dbo].[User] ([UserID], [Email], [PasswordHash], [FullName], [GenderID], [BirthDate], [HeightCm], [WeightKg], [GoalTypeID], [UserRoleID], [CreatedAt]) VALUES (2, N'user2@example.com', N'hash125', N'Мария Петрова', 2, CAST(N'2001-11-30' AS Date), CAST(165.00 AS Decimal(5, 2)), CAST(58.20 AS Decimal(5, 2)), 1, 2, CAST(N'2025-01-03T14:20:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([UserRoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[UserRole] ([UserRoleID], [RoleName]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[UserRole] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Activity__D4E7DFA8BA9C5C5F]    Script Date: 13.04.2026 16:15:59 ******/
ALTER TABLE [dbo].[ActivityType] ADD UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserSurveyDate]    Script Date: 13.04.2026 16:15:59 ******/
ALTER TABLE [dbo].[DailySurvey] ADD  CONSTRAINT [UQ_UserSurveyDate] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[SurveyDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Gender__3E01F22CAB1CE193]    Script Date: 13.04.2026 16:15:59 ******/
ALTER TABLE [dbo].[Gender] ADD UNIQUE NONCLUSTERED 
(
	[GenderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__GoalType__5467810BD89BE59A]    Script Date: 13.04.2026 16:15:59 ******/
ALTER TABLE [dbo].[GoalType] ADD UNIQUE NONCLUSTERED 
(
	[GoalName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MealType__D4E7DFA85AED10E3]    Script Date: 13.04.2026 16:15:59 ******/
ALTER TABLE [dbo].[MealType] ADD UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D105341BA529E4]    Script Date: 13.04.2026 16:15:59 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserRole__8A2B61605FE52B83]    Script Date: 13.04.2026 16:15:59 ******/
ALTER TABLE [dbo].[UserRole] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdviceUser] ADD  DEFAULT (CONVERT([date],getdate())) FOR [Date]
GO
ALTER TABLE [dbo].[DailySurvey] ADD  DEFAULT (CONVERT([date],getdate())) FOR [SurveyDate]
GO
ALTER TABLE [dbo].[Recipe] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((2)) FOR [UserRoleID]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserActivityLog] ADD  DEFAULT (CONVERT([date],getdate())) FOR [ActivityDate]
GO
ALTER TABLE [dbo].[UserMealLog] ADD  DEFAULT ((1)) FOR [Amount]
GO
ALTER TABLE [dbo].[UserMealLog] ADD  DEFAULT (CONVERT([date],getdate())) FOR [LogDate]
GO
ALTER TABLE [dbo].[AdviceUser]  WITH CHECK ADD  CONSTRAINT [FK_AdviceUser_Template] FOREIGN KEY([TempID])
REFERENCES [dbo].[AdviceTemplate] ([TemplateID])
GO
ALTER TABLE [dbo].[AdviceUser] CHECK CONSTRAINT [FK_AdviceUser_Template]
GO
ALTER TABLE [dbo].[AdviceUser]  WITH CHECK ADD  CONSTRAINT [FK_AdviceUser_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[AdviceUser] CHECK CONSTRAINT [FK_AdviceUser_User]
GO
ALTER TABLE [dbo].[DailySurvey]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[RecipeCategory] ([CategoryID])
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([GenderID])
REFERENCES [dbo].[Gender] ([GenderID])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([GoalTypeID])
REFERENCES [dbo].[GoalType] ([GoalTypeID])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([UserRoleID])
REFERENCES [dbo].[UserRole] ([UserRoleID])
GO
ALTER TABLE [dbo].[UserActivityLog]  WITH CHECK ADD FOREIGN KEY([ActivityTypeID])
REFERENCES [dbo].[ActivityType] ([ActivityTypeID])
GO
ALTER TABLE [dbo].[UserActivityLog]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserMealLog]  WITH CHECK ADD FOREIGN KEY([MealTypeID])
REFERENCES [dbo].[MealType] ([MealTypeID])
GO
ALTER TABLE [dbo].[UserMealLog]  WITH CHECK ADD FOREIGN KEY([RecipeID])
REFERENCES [dbo].[Recipe] ([RecipeID])
GO
ALTER TABLE [dbo].[UserMealLog]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DailySurvey]  WITH CHECK ADD CHECK  (([EnergyLevel]>=(1) AND [EnergyLevel]<=(5)))
GO
ALTER TABLE [dbo].[DailySurvey]  WITH CHECK ADD CHECK  (([FatigueLevel]>=(1) AND [FatigueLevel]<=(5)))
GO
ALTER TABLE [dbo].[DailySurvey]  WITH CHECK ADD CHECK  (([SleepQuality]>=(1) AND [SleepQuality]<=(3)))
GO
ALTER TABLE [dbo].[DailySurvey]  WITH CHECK ADD CHECK  (([StressLevel]>=(1) AND [StressLevel]<=(10)))
GO
ALTER TABLE [dbo].[Gender]  WITH CHECK ADD CHECK  (([GenderCode]='F' OR [GenderCode]='M'))
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD CHECK  (([Servings]>(0)))
GO
ALTER TABLE [dbo].[UserActivityLog]  WITH CHECK ADD CHECK  (([DurationMinutes]>(0)))
GO
ALTER TABLE [dbo].[UserMealLog]  WITH CHECK ADD  CONSTRAINT [CHK_FoodSource] CHECK  (([RecipeID] IS NOT NULL AND [CustomFoodName] IS NULL OR [RecipeID] IS NULL AND [CustomFoodName] IS NOT NULL))
GO
ALTER TABLE [dbo].[UserMealLog] CHECK CONSTRAINT [CHK_FoodSource]
GO
USE [master]
GO
